@font-face {
  font-family: Nympha;
  src: url('Nympha.otf') format('opentype');
}
@font-face {
  font-family: GTLight;
  src: url('GT-America-Standard-Light.otf') format('opentype');
}
html {
  background: url(assets/toso.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100%;
  background-position: left;
  background-position-y: 25%;
}
body {
  color: white;
  font-family: 'GTLight', sans-serif;
}
.main {
  margin: 5em;
  margin-top: 2em;
  /* flex-direction: column; */
  /* display: flex; */
  /* justify-content: flex-end; */
  float: right;
}
#title {
  font-family: 'Nympha';
  font-weight: lighter;
  font-size: 4em;
  margin-bottom: 1px;
  line-height: 1em;
}
#subtitle {
  font-size: 2em;
  margin-top: 5px;
  margin-left: 0.5em;
  font-size: 1.25em;
}
#desc {
  margin-top: 1em;
  font-size: 1em;
  /* width: 75%; */
  max-width: 30em;
  min-width: 3em;
  margin-left: 0.5em;
  line-height: 1.35em;
}
#directed {
  padding-top: 1em;
}
.social-links {
  margin: 1em;
  margin-left: 0.5em;
  flex-direction: row;
  display: flex;
  gap: 2em;
}
#facebook {
  background-image: url("./assets/facebook.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
#instagram {
  background-image: url("./assets/instagram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
#twitter-toso {
  background-image: url("./assets/twitter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
#survey {
  color: white;
}
.trailer {
  margin-top: 3em;
}
#trailer {
  padding: 14em;
  padding-top: 1em;
  position: relative;
}
@media (orientation: portrait) {
  html {
    background-position-x: 25%;
  }
  .main {
    margin: 2em;
    margin-top: 1em;
    flex-direction: column;
  }
  .trailer {
    margin-top: 0;
  }
}
@media (max-width: 950px) {
  #title {
    font-size: 3em;
  }

  .trailer {
    margin-top: 9em;
  }
}
@media (max-width: 600px) {
  .trailer {
    margin-top: 9em;
  }
  #trailer {
    padding: 12em;
    padding-top: 1em;
    padding-left: 1em;
  }
}
