@font-face {
  font-family: Nympha;
  src: url('Nympha.otf') format('opentype');
}
@font-face {
  font-family: GTLight;
  src: url('GT-America-Standard-Light.otf') format('opentype');
}
:root {
  --accent-color: #eb391a;
}
body {
  font-family: 'GTLight', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.title {
  font-family: 'Nympha';
  font-weight: lighter;
  font-size: 4.5rem;
}
.ampersand {
  color: var(--accent-color);
}
.laurels-container {
  display: flex;
  justify-content: center;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.laurels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 37rem;
  gap: 1rem;
}
.laurel {
  height: 6rem;
}
.subtitle {
  font-size: 0.75rem;
}
.details {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.poster-container {
  width: 20rem;
}
.poster {
  width: 20rem;
  filter: drop-shadow(1px 1px 3px grey);
}
.description {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.description__about {
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 1.5px solid var(--accent-color);
}
.description__body {
  display: flex;
  flex-direction: column;
  line-height: 1.65rem;
  gap: 1rem;
}
.emph {
  font-family: 'Nympha';
  font-weight: lighter;
  color: var(--accent-color);
}
.poster__link {
  width: 40rem;
  position: relative;
  box-sizing: border-box;
}
.poster__link:focus {
  border: 1px solid black;
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index:1;
}
.poster__link img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  cursor: pointer;
}
.poster_link:focus img {
  position: absolute;
  opacity:1;
  z-index: 1;
  cursor: default;
}
.social-links {
  flex-direction: row;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  margin-left: -0.5rem;
}
.link {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  filter: invert(100%);
}
#facebook {
  background-image: url("./assets/social/facebook.svg");
}
#instagram {
  background-image: url("./assets/social/instagram.svg");
}
#twitter-toso {
  background-image: url("./assets/social/twitter.svg");
}
#email {
  background-image: url("./assets/social/mail.svg");
  filter: none;
}
a {
  color: black;
}
#trailer {
  padding: 16rem;
  position: relative;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@media (max-width: 950px) {
  .laurels {
    flex-wrap: wrap;
  }
  .details {
    flex-direction: column;
    padding-top: 0;
    width: 70%;
    align-self: center;
  }
  .poster-container {
    display: none;
  }
  .description {
    width: fit-content;
  }
}
@media (max-width: 500px) {
  .title { font-size: 2.5rem; }
  .laurels { gap: 0.5rem; }
  .laurel { height: 2.5rem; }
  .poster {
    width: 8rem;
  }
  #trailer {
    padding: 12em;
    padding-top: 1em;
    padding-left: 1em;
  }
}
@media (max-width: 500px) {
  .title { font-size: 2.5rem; }
  .laurels { gap: 0.5rem; }
  .laurel { height: 2.5rem; }
  .poster {
    width: 8rem;
  }
  #trailer {
    padding: 12em;
    padding-top: 1em;
    padding-left: 1em;
  }
}
@media (max-width: 450px) {
  .title { font-size: 2.5rem; }
  .laurels { gap: 0.5rem; }
  .laurel { height: 2.5rem; }
  .poster {
    width: 8rem;
  }
  #trailer {
    padding: 12em;
    padding-top: 1em;
    padding-left: 1em;
  }
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
