@font-face {
  font-family: Nympha;
  src: url('Nympha.otf') format('opentype');
}
@font-face {
  font-family: GTLight;
  src: url('GT-America-Standard-Light.otf') format('opentype');
}
:root {
  --accent-color: #eb391a;
}
body {
  font-family: 'GTLight', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
.title {
  font-family: 'Nympha';
  font-weight: lighter;
  font-size: 4.5rem;
}
.ampersand {
  color: var(--accent-color);
}
.laurels-container {
  display: flex;
  justify-content: center;
}
.laurels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 37rem;
}
.laurel {
  height: 6rem;
}
.subtitle {
  font-size: 0.75rem;
}
.details {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.poster-container {
  width: 20rem;
}
.poster {
  width: 20rem;
}
.description {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.description__about {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}
.description__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.emph {
  font-family: 'Nympha';
  font-weight: lighter;
  color: var(--accent-color);
}
.poster__link {
  width: 40rem;
  position: relative;
  box-sizing: border-box;
}
.poster__link:focus {
  border: 1px solid black;
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index:1;
}
.poster__link img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  cursor: pointer;
}
.poster_link:focus img {
  position: absolute;
  opacity:1;
  z-index: 1;
  cursor: default;
}
.social-links {
  flex-direction: row;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
}
#facebook {
  background-color: white;
  background-image: url("./assets/facebook.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
#instagram {
  background-color: white;
  background-image: url("./assets/instagram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
#twitter-toso {
  background-color: white;
  background-image: url("./assets/twitter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
#survey {
  color: black;
  text-decoration-color: var(--accent-color)
}
#trailer {
  padding: 16rem;
  position: relative;
}
@media (max-width: 950px) {
  .details {
    flex-direction: column;
    padding-top: 0;
  }
  .poster-container {
    display: none;
  }
  .description {
    width: 20rem;
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }
  .laurel {
    height: 4rem;
  }
  .poster {
    width: 8rem;
  }
  #trailer {
    padding: 12em;
    padding-top: 1em;
    padding-left: 1em;
  }
}
